header {
    text-align: center;
    margin: 20px;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding: 20px;
    max-width: 1200px;
}

h3 {margin-top: 0px;}

.formulario {
    flex: 1px;
    max-width: 300px;
    max-height: 600px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px, solid, black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.formulario button {
    display: block;
    margin-top: 10px;
    background-color:rgb(128, 124, 124);
    border-radius: 3px;
    color: white;
}

.listaNoticias {
    flex: 1;
    padding: 20px;
    max-width: 600px;
    align-items: flex-start;
}

.listaNoticias ul {
    list-style-type: none;
    padding: 0;
}

.listaNoticias li {
    border: 1px solid black;
    margin-bottom: 10px;
    padding:10px;
    display: flex;
    align-items: flex-start;
}

.listaNoticias img {
    max-width: 150px;
    margin-right: 10px;
    height: auto;
}

.listaNoticias p {
    margin: 0px;
    flex: 1;
}

.listaNoticias div {
    flex: 1;
}