.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 20px;
}

.formulario, .listadoNoticias {
    width: 50%;
}

.listaNoticias ul {
    list-style-type: none;
    padding: 0;
}

.listadoNoticias li {
    border: 1px solid black;
    margin-bottom: 10px;
    padding:10px;
}

.listadoNoticias img {
    max-width: 100%;
    height: auto;
}