<div class="wrapper">
  <div class="formulario">
    <label for="title">Título de la noticia</label>
    <input id="title" type="text" placeholder="Introduce un título" />
    <label for="image">Url de la imagen</label>
    <input id="image" type="url" placeholder="Introduce la url de la foto" />
    <label for="notice">Contenido de la noticia</label>
    <input
      id="notice"
      type="text"
      placeholder="Introduce el texto o cuerpo de la noticia"
    />
    <label for="date">Fecha de publicación</label>
    <input
      id="date"
      type="text"
      placeholder="Introduce la fecha de publicación"
    />
    <button>Publicar</button>
  </div>
  <hr />
  <section>
    <div class="listaNoticias">
      <h1>Listado de noticias</h1>
      <ul></ul>
    </div>
  </section>
</div>
